html, body {
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

/* Usada cuando necesitemos que el texto sea blanco */
.text-layout {
    color: var(--text-color)
}
